/* Define the font and its path */
@font-face {
  font-family: poppins;
  src: url("../fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2") format("woff2");
}

/* Define custom colors and font-family variable */
$primary-color: #ff66cc;
$secondary-color: #9933ff;
$dark-color: #0e1734;
$light-color: #ffffff;
$font-family: "Poppins", sans-serif;
$bright-color: rgb(250, 234, 13);
$error-color: rgb(250, 234, 13);
$success-color: rgb(148, 239, 148);
$text-color: #ed1dca;
$btn-gradient: linear-gradient(97deg, #5f00ff 0%, $primary-color 50%, #ed1dca 100%);

/* Mixins */
@mixin button-styles {
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 7px;
  background: $btn-gradient;
  color: $light-color;
  cursor: pointer;
}

/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-color;
  flex-direction: column;
}

.container {
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  background-color: $dark-color;
  color: $light-color;

  @media (orientation: landscape) {
    width: 50%;
  }

  @media (orientation: portrait) {
    width: 95%;
  }
}

input[type="checkbox"] {
  display: none;
}

.page {
  display: none;
  padding: 20px;
  height: 750px;
  background-color: $dark-color;

  p {
    color: $bright-color;
    font-size: 0.7em;
    font-weight: 500;
    text-align: left;
    font-family: $font-family;
  }

  &.active {
    display: block;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 30px;

    p {
      font-family: $font-family;
    }

    .entryarea {
      position: relative;
      margin: 15px 0;
      height: 60px;
      line-height: 60px;

      input {
        position: absolute;
        width: 100%;
        font-size: 1.2em;
        padding: 0 20px;
        border: 1.5px solid $secondary-color;
        border-radius: 7px;
        outline: none;
        background-color: transparent;
        line-height: 60px;
        transition: 0.1s ease;
        z-index: 1111;

        &:focus,
        &:valid {
          color: $text-color;
          border: 3px solid $text-color;
        }

        & + .labelline {
          color: $secondary-color;
          position: absolute;
          font-size: 0.9em;
          margin: 0 20px;
          padding: 0 5px;
          transition: 0.2s ease;
          background-color: $dark-color;
        }

        &:focus + .labelline,
        &:valid + .labelline {
          color: $text-color;
          height: 30px;
          line-height: 30px;
          transform: translate(-15px, -15px) scale(0.88);
          z-index: 1111;
        }
      }
    }

    input,
    a {
      font-family: $font-family;
    }

    a {
      text-decoration: none;
      color: $text-color;

      &:hover {
        text-decoration: underline;
      }
    }

    #btn1,
    #btn2 {
      @include button-styles;
      margin: 20px 0;
      font-size: 1.2em;
      padding: 8px 0;
    }

    .switch {
      width: 100%;
      font-size: 0.9em;
      font-weight: 400;
      text-align: center;

      label {
        color: $text-color;
        cursor: pointer;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    input#btn1.login-button-locked {
      background-color: gray;
      color: red;
      cursor: not-allowed;
    }
  }
}

.heading,
.login-heading {
  position: relative;
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  font-family: $font-family;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 6px;
    width: 25px;
    background: $btn-gradient;
    transition: 0.3s ease;
  }

  &::before {
    bottom: 0;
    left: 30%;
    transform: translate(-50%);
    animation: animate2 2s linear infinite;
  }

  &::after {
    top: 0;
    right: 30%;
    transform: translate(50%);
    animation: animate 2s linear infinite;
  }
}

@keyframes animate {
  50% {
    transform: translateX(-50%);
  }
}

@keyframes animate2 {
  50% {
    transform: translateX(50%);
  }
}

#btnTasks,
#logoutBtn,
#newTaskBtn,
#dashboardBtn {
  @include button-styles;
  font-size: 0.8em;
  
}

#loginAttempts,
#loginError {
  font-size: 0.6em;
  font-family: $font-family;
}

/* Styles for error messages */
.error-message {
  color: orange;
  font-size: 0.8em;
  display: none;
  margin-top: 5px;

  &#registerUsername + & {
    display: block;
  }
}

#registrationSuccessMessage {
  color: $success-color;
  font-size: 0.8em;
  display: block;
  margin-top: 5px;
}

.error-message,
.loginPasswordError,
.loginNameError {
  color: $error-color;
  font-size: 0.8em;
  display: none;
}

/* Centering the Header Near the Top */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $dark-color;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  header.common-header {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    nav {
      display: inline-block;
      gap: 0px;
      justify-content: space-around;
      header.common-header nav a {
        @include button-styles;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
}

#username,
#usernameTasks {
  padding: 10px;
  justify-content: left;
  text-align: center;
}

#progressChart {
  width: 100%;
  background-color: $dark-color;
  border-radius: 5%;
  display: flex;
}

.card {
  text-align: center;
  padding: auto;
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  background-color: $dark-color;
  padding: 10px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.view-btn {
  transition: background-color 0.3s ease, color 0.3s ease;
  color: $dark-color;
  border-radius: 7%;
  margin: 10px;
  padding: 10px;
  background-color: $primary-color;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    color: $bright-color;
  }
}

.new-task-container {
  padding-left: 20px;
  margin: 90px 0 20px 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
  }
}

.table-container {
  background-color: $dark-color;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  z-index: 1000;
}

#newTaskForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  z-index: 1000;

  .entryarea {
    width: 100%;
  }

  #taskName,
  #taskDescription,
  #taskDueDate,
  #taskPriority,
  #taskStatus {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    color: $light-color;
    font-family: $font-family;
  }

  #taskDescription {
    width: 100%;
  }

  #taskPriority,
  #taskStatus {
    width: 100%;
    background-color: transparent;
    color: $light-color;
    border: 1.5px solid $secondary-color;
  }

  #submitNewTask {
    background-color: $secondary-color;
    color: $light-color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: $font-family;
  }
}

@media (max-width: 768px) {
  #newTaskForm {
    #taskName,
    #taskDescription,
    #taskDueDate,
    #taskPriority,
    #taskStatus {
      width: 100%;
    }
  }
}

.new-task-container {
  display: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.task-row {
  color: $bright-color;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.taskTableBody {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
  z-index: 1111;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50%;
}

.edit-btn,
.delete-btn {
  color: $light-color;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #008cba; /* Blue */
  margin-right: 5px;
}

.delete-btn {
  background-color: #f44336; /* Red */
}

#taskTableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#tasksTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-content: center;
}
